$lightlavender: hsl(241, 100%, 89%);
$paleBlue: hsl(221, 100%, 96%);
$whiteColor: hsl(0, 0%, 100%);
$darkGrayBlue: hsl(224, 30%, 27%);
$lightRed: hsl(0, 100%, 67%);
$lightRedBg: hsla(0, 100%, 67%, 0.09);
$orangeyYellow: hsl(39, 100%, 56%);
$orangeyYellowBg: hsla(39, 100%, 56%, 0.09);
$greenTeal: hsl(166, 100%, 37%);
$greenTealBg: hsla(166, 100%, 37%, 0.09);
$cobaltBlue: hsl(234, 85%, 45%);
$cobaltBlueBg: hsla(234, 85%, 45%, 0.09);

$fontWeight500: 500;
$fontWeight700: 700;
$fontWeight800: 800;
