@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.banner {
  width: 100%;
  height: 100vh;
  position: relative;
}

.banner header {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 30px;
  background-color: transparent;
  position: absolute;
  width: 100%;
}

.banner header .logo {
  color: #fff;
  font-size: 26px;
}

.banner header .nav-container {
  display: flex;
}

.banner header .nav-container li {
  padding: 0px 20px;
}

.banner header .nav-container li a {
  color: #fff;
  font-size: 20px;
}

.banner header .nav-container .dropdown-container {
  position: relative;
}

.banner header .nav-container .dropdown-container .dropdown {
  position: absolute;
  display: none;
  background-color: #fff;
  padding: 10px;
  border-radius: 6px;
}

.banner header .nav-container .dropdown-container .dropdown li {
  font-size: 16px;
  padding: 4px 0px;
  color: #333;
}

.banner header .nav-container .dropdown-container:hover .dropdown {
  display: block;
}

.banner .banner-image {
  width: 100%;
  height: inherit;
  object-fit: cover;
}

.banner .content {
  max-width: 600px;
  position: absolute;
  inset: 0;
  height: 0;
  margin: auto;
  bottom: 100px;
  color: #fafafa;
  text-align: center;
}

.banner .content h1 {
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  font-weight: 500;
}

.banner .content h1 span {
  color: #ffff05;
}

.banner .content p {
  font-size: clamp(16px, 3vw, 1.3rem);
}

.banner .content .buttonStyles {
  border: 1px solid #fafafa;
  color: #ffff05;
  padding: 8px 10px;
  border-radius: 5px;
  font-weight: bold;
  text-transform: capitalize;
  margin-top: 20px;
  display: inline-block;
}

.banner .content .buttonStyles:hover {
  background-color: #ffff05;
  color: rgba(0, 0, 0, 0.6);
  transition-duration: 1s;
}

.banner::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 768px) {
  .banner header {
    flex-wrap: wrap;
    padding: 14px 16px;
  }
  .banner header .logo {
    margin: 0 auto;
  }
  .banner header .nav-container li {
    padding: 10px;
  }
}

.about {
  display: flex;
  padding: 50px;
}

.about .about-img {
  width: 50%;
}

.about .about-container {
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about .about-container i {
  font-size: 5vw;
  color: rgba(0, 0, 0, 0.6);
}

.about .about-container .right-icon {
  align-self: flex-end;
}

.about .about-container .about-content h2 {
  text-align: center;
  margin: 10px;
}

.about .about-container .about-content p {
  text-indent: 50px;
  line-height: 30px;
}

@media (max-width: 992px) {
  .about {
    flex-wrap: wrap;
    padding: 20px 0px;
  }
  .about .about-img {
    width: 100%;
  }
  .about .about-container i {
    visibility: hidden;
  }
}

.team h2 {
  text-align: center;
  text-decoration: overline #30d2e4;
}

.team .team-container {
  margin: 20px;
  display: flex;
}

.team .team-container .card {
  margin: 20px;
  background-image: linear-gradient(45deg, #e3e230, #30d2e3);
  padding: 20px;
  text-align: center;
}

.team .team-container .card .img-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.team .team-container .card .img-container img {
  width: inherit;
  object-fit: cover;
  transition: 1s;
}

.team .team-container .card .img-container:hover img {
  transform: scale(1.3);
}

.team .team-container .card .card-content {
  margin-top: 20px;
}

.team .team-container .card .card-content p {
  font-size: 16px;
}

@media (max-width: 992px) {
  .team-container {
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .team .team-container .card {
    width: 60%;
    margin: 20px auto;
  }
}

.contact {
  background-color: #1e1e1e;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact h2 {
  text-align: center;
  color: #fafafa;
  margin-bottom: 20px;
}

.contact .contact-form form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact .contact-form form input,
.contact .contact-form form textarea {
  display: block;
  margin: 8px;
  padding: 10px;
  border-radius: 5px;
  border: 0;
}

.contact .contact-form form :not(input[type="button"]) {
  width: 400px;
}

.contact .contact-form form input[type="button"] {
  align-self: flex-start;
}

footer {
  height: 100px;
  background-color: #2a2626;
  color: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
}

footer .social a {
  margin: 0px 10px;
  padding: 10px;
  width: 35px;
  height: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fafafa;
  font-size: 20px;
}

footer .social a:nth-child(1) {
  background-color: #3c5997;
}

footer .social a:nth-child(2) {
  background-color: #1ea1f0;
}

footer .social a:nth-child(3) {
  background-color: #774f99;
}

footer .social a:nth-child(4) {
  background-color: #2578af;
}
/*# sourceMappingURL=styles.css.map */