@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
.banner {
  width: 100%;
  height: 100vh;
  position: relative;
  header {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 30px;
    background-color: transparent;
    position: absolute;
    width: 100%;
    // @media (max-width: 768px) {
    //   background-color: red;
    // }
    .logo {
      color: #fff;
      font-size: 26px;
    }
    .nav-container {
      display: flex;
      li {
        padding: 0px 20px;
        a {
          color: #fff;
          font-size: 20px;
        }
      }
      .dropdown-container {
        position: relative;
        .dropdown {
          position: absolute;
          display: none;
          background-color: #fff;
          padding: 10px;
          border-radius: 6px;
          // width: 120px;
          li {
            font-size: 16px;
            padding: 4px 0px;
            color: #333;
          }
        }
      }
      .dropdown-container:hover {
        .dropdown {
          display: block;
        }
      }
    }
  }
  .banner-image {
    width: 100%;
    height: inherit;
    object-fit: cover;
  }
  .content {
    max-width: 600px;
    position: absolute;
    inset: 0;
    height: 0;
    margin: auto;
    bottom: 100px;
    color: #fafafa;
    text-align: center;

    h1 {
      // font-size: 40px;
      font-size: clamp(1.5rem, 3vw, 2.5rem);

      font-weight: 500;
      span {
        color: #ffff05;
      }
    }
    p {
      font-size: clamp(16px, 3vw, 1.3rem);
    }
    .buttonStyles {
      border: 1px solid #fafafa;
      color: #ffff05;
      padding: 8px 10px;
      border-radius: 5px;
      font-weight: bold;
      text-transform: capitalize;
      margin-top: 20px;
      display: inline-block;
    }
    .buttonStyles:hover {
      background-color: #ffff05;
      color: rgba(0, 0, 0, 0.6);
      transition-duration: 1s;
    }
  }
}
.banner::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 768px) {
  .banner {
    header {
      flex-wrap: wrap;
      padding: 14px 16px;
      .logo {
        margin: 0 auto;
      }
      .nav-container {
        li {
          padding: 10px;
        }
      }
    }
  }
}
// @media (min-width: 768px) and (max-width: 992px) {
//   .banner {
//     .content {
//       h1 {
//         font-size: 32px;
//       }
//     }
//   }
// }
.about {
  display: flex;
  padding: 50px;
  .about-img {
    width: 50%;
  }
  .about-container {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    i {
      font-size: 5vw;
      color: rgba(0, 0, 0, 0.6);
    }

    .right-icon {
      align-self: flex-end;
    }
    .about-content {
      h2 {
        text-align: center;
        margin: 10px;
      }
      p {
        text-indent: 50px;
        line-height: 30px;
      }
    }
  }
}
@media (max-width: 992px) {
  .about {
    flex-wrap: wrap;
    padding: 20px 0px;
    .about-img {
      width: 100%;
    }
    .about-container {
      i {
        visibility: hidden;
      }
    }
  }
}
.team {
  h2 {
    text-align: center;
    text-decoration: overline #30d2e4;
  }
  .team-container {
    margin: 20px;
    display: flex;
    .card {
      margin: 20px;
      background-image: linear-gradient(45deg, #e3e230, #30d2e3);
      padding: 20px;
      text-align: center;
      .img-container {
        width: 100%;
        height: 200px;
        overflow: hidden;
        img {
          width: inherit;
          // height: inherit;
          object-fit: cover;
          // transform: scale(1);
          transition: 1s;
        }
      }
      .img-container:hover {
        img {
          transform: scale(1.3);
        }
      }
      .card-content {
        margin-top: 20px;
        h3 {
        }
        p {
          font-size: 16px;
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .team-container {
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .team {
    .team-container {
      .card {
        width: 60%;
        margin: 20px auto;
      }
    }
  }
}
.contact {
  background-color: #1e1e1e;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h2 {
    text-align: center;
    color: #fafafa;
    margin-bottom: 20px;
  }
  .contact-form {
    form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      input,
      textarea {
        display: block;
        margin: 8px;
        padding: 10px;
        border-radius: 5px;
        border: 0;
      }
      :not(input[type="button"]) {
        width: 400px;
      }
      input[type="button"] {
        align-self: flex-start;
      }
    }
  }
}

footer {
  height: 100px;
  background-color: #2a2626;
  color: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  p {
  }
  .social {
    a {
      margin: 0px 10px;
      padding: 10px;
      width: 35px;
      height: 35px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      color: #fafafa;
      font-size: 20px;
    }
    a:nth-child(1) {
      background-color: #3c5997;
    }
    a:nth-child(2) {
      background-color: #1ea1f0;
    }
    a:nth-child(3) {
      background-color: #774f99;
    }
    a:nth-child(4) {
      background-color: #2578af;
    }
  }
}
